<div>
    <h2>Create your user</h2>
    <div>
        <form action="/signup" method="POST">
            <label for="username">Username:
                <input type="text" name="username" id="username" palceholder="Username" required>
            </label>
            <label for="email">Email:
                <input type="email" name="email" id="email" placeholder="your@email.com" required>
            </label>
            <label for="password">Password:
                <input type="password" name="password" id="password" placeholder="********" required>
            </label>
            <label for="country">Country:
                <input type="text" name="country" id="country" placeholder="Country" required>
            </label>
            <button type="submit">Sign up!</button>
        </form>
        
        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}
    </div>
</div>