 <h2>Create a new Pinned Spot</h2>

  <form action="/places/create" method="post" enctype="multipart/form-data">
    <label for="place name">Name:
      <input type="text" id="name" name="name" placeholder="name" required>
    </label>
    <label for="location">Location:
      <input type="text" id="location" name="location" placeholder="city" required>
    </label>
    <label for="description">Description:
      <textarea id="description" name="description" placeholder="This spot is from the movie..." required></textarea>
    </label>
    <label for="img">
      <input type="file" name="img" id="img"/>
    </label>
  </form>
  <button type="submit">Create</button>
