 <h1>CREATE NEW PLACE</h1>
   <form action="/places/create" method="post">
  <label for="title">Place name:</label>
  <input type="text" id="name" name="name" required>
  
  <label for="genre">Location:</label>
  <input type="text" id="location" name="location" required>
  
  <label for="plot">Description:</label>
  <textarea id="plot" name="plot" required></textarea>
  
  <label for="img">
    <input type="file" name="img" class="form-control-file" />
</label>

  <button type="submit">Create</button>
