<div class="d-flex bg-light">
  <div class="container py-5">
    <div class="row h-100 justify-content-end py-5">
      <div class="col-lg-6 text-right">
        <h1 class="display-4">PinnedFiction... <br>what is it?</h1>
        <p class="lead text-muted mb-0 text-justify">Immerse yourself in our vast catalogue of locations that bridge the gap between reality and fiction. From iconic movie sets to enchanting video game realms and landscapes that breathe life into your favorite anime and TV shows, PinnedFiction captures the essence of these spaces. Every entry is crafted from personal experiences, allowing users to share their own connection to these extraordinary places with the rest of the community.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container py-5">
    <div class="row align-items-center mb-5 mt-5">
      <div class="col-lg-6 mt-5 mb-5">
        <h2 class="font-weight-light text-justify">Create an account</h2>
        <p class="font-italic text-muted mb-4 text-justify">Unlock the magic by signing up. Share your favourite places that have inspired movies, games, anime, and TV shows. Your experiences matter – join us in celebrating these extraordinary locations!</p>
        <a href="/user-profile" class="btn btn-light px-5 rounded-pill shadow-sm">Join the PinnedFiction community</a>
      </div>
      <div class="col-lg-6">
        <img src="./images/about-yakuza.jpg" alt="" class="img-fluid mb-4 mb-lg-0 rounded" style="width: 100%; height: auto;">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6 mt-5 mb-5">
        <img src="./images/about-fallout3.jpg" alt="" class="img-fluid mb-4 mb-lg-0 rounded" style="width: 100%; height: auto;">
      </div>
      <div class="col-lg-6">
        <h2 class="font-weight-light text-justify">Share your favourite spots</h2>
        <p class="font-italic text-muted mb-4 text-justify">Add your own experience! Upload a photo and a brief description of your desired location, tell us the source and what captivated you. Encourage other users to visit your spots by offering important details and recommendations to live the experience to the fullest.</p>
        <a href="/create-new-place" class="btn btn-light px-5 rounded-pill shadow-sm">Create a Pinned Spot</a>
      </div>
    </div>

    <div class="row align-items-center mt-5 mb-5">
      <div class="col-lg-6 mt-4 mb-4">
        <h2 class="font-weight-light text-justify">Sit back and relax</h2>
        <p class="font-italic text-muted mb-4 text-justify">Discover the places where your favourite actors and actresses have lived, laughed and loved. Look for a specific movie, videogame, tv show or country and start preparing your next trip!</p>
        <a href="/places" class="btn btn-light px-5 rounded-pill shadow-sm">Browse Pinned Spots</a>
      </div>
      <div class="col-lg-6">
        <img src="./images/about-assasinscreed.jpg" alt="" class="img-fluid mb-4 mb-lg-0 rounded" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>
</div>

    

<div class="bg-light">
  <div class="container py-5">
    <div class="row mb-4  justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">Meet the creators behind PinnedFiction</p>
      </div>
    </div>

    <div class="row text-center justify-content-center">

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./images/g.png" alt="German" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Germán Panzardi</h5><span class="small text-uppercase text-muted">Co-Founder</span>
          <p class="text-justify pt-2">I'm an ardent and dedicated enthusiast of both movies and anime. There's something about the magic of storytelling and the intricate artistry that truly captivates me. I love programming and creating loops above all else in this world. And let's not forget about my love for Uruguayan food. Whether it's a warm plate of asado or a comforting bowl of chivito, each bite is a journey into a world of savory wonders.</p>
          <p>Favourite spot: The red stairs - "Your Name"</p>
        </div>
      </div>
 
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./images/h.png" alt="Hector" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Héctor Martín</h5><span class="small text-uppercase text-muted">Co-Founder</span>
          <p class="text-justify pt-2">I'm all about martial arts and thrive in multicultural environments. When I'm not on the move, you'll find me delving into languages, with a special fondness for Rurouni Kenshin manga. My gaming interests span from action-adventure stealth like Metal Gear Solid to spine-tingling survival horror in Resident Evil and the thrill of sports games like Fifa.</p>
          <p>Favourite spot: Philadelphia - "Rocky"</p>
        </div>
      </div>
  
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./images/e.png" alt="Edna" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Edna Vidal Ros</h5><span class="small text-uppercase text-muted">Co-Founder</span>
          <p class="text-justify pt-2">Climbing and yoga are my go-to activities to find balance. When I am not outdoors in nature, I deeply enjoy delving into the worlds of videogaming, especially playing "The Last of Us" and "Hogwarts Legacy." When it comes to TV shows, my heart is won over by those that can make me both laugh and cry, and I am one of those annoying fans who will let you know all the BTS secrets.</p>
          <p>Favourite spot: Anything LOTR related - "LOTR"</p>
        </div>
      </div>
      
    </div>
  </div>
</div>


<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; www.pinnedfiction.com All rights reserved.</p>
  </div>
</footer>

