  <div style="background-image: url('./images/anime-characters.png'); background-size: cover; background-position: center center; min-height: 100vh;">
    <div class="col justify-content-start vh-100 vw-50 mb-4" style="background-color: rgba(0, 0, 0, 0.466); position: relative;">
      <div class="col-lg-6 text-white align-items-end d-flex" style="position: absolute; bottom: 0; left: 0;">
        <div>
          <h1 class="display-4">PinnedFiction... <br>what is it?</h1>
          <p class="lead mb-0">Immerse yourself in our vast catalogue of locations that bridge the gap between reality and
            fiction. From iconic movie sets to enchanting video game realms and landscapes that breathe life into your
            favorite anime and TV shows, PinnedFiction captures the essence of these spaces. Every entry is crafted from
            personal experiences, allowing users to share their own connection to these extraordinary places with the rest
            of the community.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="background-image: linear-gradient(to bottom, #f3f7f5, #c6f6e5c1 90%)">
  <div class="container py-5">
    <div class="row align-items-center mb-5 mt-5">
      <div class="col-lg-6 mt-5 mb-5 text-right">
        <h2 class="font-weight-light text-justify text-right">Create an account</h2>
        <p class="font-italic text-muted mb-4 text-justify text-right">Unlock the magic by signing up. Share your
          favourite places that have inspired movies, games, anime, and TV shows. Your experiences matter – join us in
          celebrating these extraordinary locations!</p>
        <a href="/user-profile" class="btn btn-light px-5 rounded-pill shadow-sm font-weight-bold"
          style="color: #045337c1;">Join the PinnedFiction community</a>
      </div>
      <div class="col-lg-6">
        <img src="./images/about-yakuza.jpg" alt="Yakuza videogame/location." class="img-fluid mb-4 mb-lg-0 rounded"
          style="width: 100%; height: auto;">
      </div>
    </div>


    <div class="row align-items-center">
      <div class="col-lg-6 mt-5 mb-5">
        <img src="./images/about-fallout3.jpg" alt="Fallout 3 videogame/location."
          class="img-fluid mb-4 mb-lg-0 rounded" style="width: 100%; height: auto;">
      </div>
      <div class="col-lg-6">
        <h2 class="font-weight-light text-justify">Share your favourite spots</h2>
        <p class="font-italic text-muted mb-4 ">Add your own experience! Upload a photo and a brief
          description of your desired location, tell us the source and what captivated you. Encourage other users to
          visit your spots by offering important details and recommendations to live the experience to the fullest.</p>
        <a href="/places/create" class="btn btn-light px-5 rounded-pill shadow-sm font-weight-bold"
          style="color: #045337c1;">Create a Pinned Spot</a>
      </div>
    </div>

    <div class="row align-items-center mt-5 mb-5">
      <div class="col-lg-6 mt-5 mb-5 text-center text-lg-right">
        <h2 class="font-weight-light text-right">Sit back and relax</h2>
        <p class="font-italic text-muted mb-4 text-justify text-right">Discover the places where your favourite actors
          and actresses have lived, laughed and loved. Look for a specific movie, videogame, tv show or country and
          start preparing your next trip!</p>
        <a href="/places" class="btn btn-light px-5 rounded-pill shadow-sm font-weight-bold"
          style="color: #045337c1;">Browse Pinned Spots</a>
      </div>
      <div class="col-lg-6">
        <img src="./images/about-assasinscreed.jpg" alt="Assassin's Creed videogame/location."
          class="img-fluid mb-4 mb-lg-0 rounded" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>
</div>



<div style="background-image: linear-gradient(to bottom, #c6f6e5c1, #f3f7f5 40%)">
  <div class="container py-5">
    <div class="row mb-4 justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">Meet the creators behind PinnedFiction</p>
      </div>
    </div>

    <div class="row text-center justify-content-center">

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./images/g.png" alt="German" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">German Panzardi</h5><span class="small text-uppercase text-muted">Co-Founder</span>
          <p class="text-center pt-2">I'm an ardent and dedicated enthusiast of both movies and anime. There's something
            about the magic of storytelling and the intricate artistry that truly captivates me.</p>
          <p class="font-weight-bold">Favourite spot: The red stairs - "Your Name"</p>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./images/h.png" alt="Hector" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Héctor Martín</h5><span class="small text-uppercase text-muted">Co-Founder</span>
          <p class="text-center pt-2">I'm all about martial arts and thrive in multicultural environments. My love for
            cars is about the sleek designs, the powerful engines, the exhilaration of speed and the harmony of
            engineering.</p>
          <p class="font-weight-bold">Favourite spot: Philadelphia - "Rocky"</p>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="./images/e.png" alt="Edna" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Edna Vidal Ros</h5><span class="small text-uppercase text-muted">Co-Founder</span>
          <p class="text-center pt-2">Climbing and yoga are my go-to activities to find balance. When I am not outdoors
            in nature, I deeply enjoy delving into the worlds of videogaming.</p>
          <p class="font-weight-bold">Favourite spot: Anything LOTR related - "LOTR"</p>
        </div>
      </div>

    </div>
  </div>
</div>


<footer class="pb-5" style="background-color: #f3f7f5;">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; www.pinnedfictionfs.adaptable.app - All rights reserved</p>
  </div>
</footer>