<div class="container mt-4 mb-4">
  <h1 class="text-center">PINNED FICTION LOGO</h1>
</div>

{{!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/Santa-Monica-Pier-Cosa-Vedere-scaled-1.jpeg" class="d-block mx-auto" alt="..." width="800vw"
        height="400">
      <div class="carousel-caption d-none d-md-block bg-warning text-white">
        <h5>Santa Monica Pier</h5>
        <p>Iconic pier from GTA San Andreas</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/dogo-onsen-matsumaya.jpeg" class="d-block mx-auto img-fluid" alt="..." width="800" height="400">
      <div class="carousel-caption d-none d-md-block bg-warning text-white">
        <h5>Dogo Onsen</h5>
        <p>Onsen in Matsuyama, featured in Spirited Away</p>
      </div>
      <div class="carousel-item">
        <img src="/images/rocky-steps.jpeg" class="d-block mx-auto img-fluid" alt="..." width="800" height="400">
        <div class="carousel-caption d-none d-md-block bg-warning text-white">
          <h5>Philadelphia Museum of Art</h5>
          <p>Rocky's iconic running scene</p>
        </div>
        <div class="carousel-item">
          <img src="/images/wadi-rum.jpeg" class="d-block mx-auto img-fluid" alt="..." width="800" height="400">
          <div class="carousel-caption d-none d-md-block bg-warning text-white">
            <h5>Wadi Rum</h5>
            <p>Featured in John Wick, Prometheus,Lawrence of Arabia and more</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/lake-motosu.jpeg" class="d-block mx-auto img-fluid" alt="..." width="800" height="400">
          <div class="carousel-caption d-none d-md-block bg-warning text-white">
            <h5>Lake Motosu</h5>
            <p>Famous camping site from the anime Yuru Camp</p>
          </div>
        </div>
      </div>
    </div> --}}

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 img-fluid" src="/images/Santa-Monica-Pier-Cosa-Vedere-scaled-1.jpeg"
            alt="Santa-Monica-Pier-Cosa-Vedere">
          <div class="carousel-caption d-block d-md-block text-white"
            style="border-radius: 25px; background-color: rgba(0, 0, 0, 0.5);">
            <h5>Santa Monica Pier</h5>
            <p>Iconic pier from GTA San Andreas</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img-fluid" src="/images/dogo-onsen-matsumaya.jpeg" alt="dogo-onsen-matsumaya">
          <div class="carousel-caption d-block d-md-block text-white"
            style="border-radius: 25px; background-color: rgba(0, 0, 0, 0.5);">
            <h5>Dogo Onsen</h5>
            <p>Onsen in Matsuyama, featured in Spirited Away</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img-fluid" src="/images/rocky-steps.jpeg" alt="rocky-steps">
          <div class="carousel-caption d-block d-md-block text-white"
            style="border-radius: 25px; background-color: rgba(0, 0, 0, 0.5);">
            <h5>Philadelphia Museum of Art</h5>
            <p>Rocky's iconic running scene</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img-fluid" src="/images/wadi-rum.jpeg" alt="rocky-steps">
          <div class="carousel-caption d-block d-md-block text-white"
            style="border-radius: 25px; background-color: rgba(0, 0, 0, 0.5);">
            <h5>Wadi Rum</h5>
            <p>Featured in John Wick, Prometheus,Lawrence of Arabia and more</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img-fluid" src="/images/lake-motosu.jpeg" alt="rocky-steps">
          <div class="carousel-caption d-block d-md-block text-white"
            style="border-radius: 25px; background-color: rgba(0, 0, 0, 0.5);">
            <h5>Lake Motosu</h5>
            <p>Famous camping site from the anime Yuru Camp</p>
          </div>
        </div>
      </div>
    </div>