<div class="d-flex justify-content-center"> 
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="background-size:cover">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          <img class="d-block img-fluid" src="/images/Santa-Monica-Pier-Cosa-Vedere-scaled-1.jpeg" alt="Santa-Monica-Pier-Cosa-Vedere" style="max-height; 100vh; min-width: 100vw; background-size:cover">
        </div>
          
        <div class="carousel-caption  text-white mb-1 mx-1 text-center" style="border-radius: 25px; background-color: rgba(0, 0, 0, 0.29); ">
          <h5 class="h5-responsive">Santa Monica Pier</h5>
          <p class="p-responsive">Iconic pier from GTA San Andreas</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <img class="d-block img-fluid" src="/images/dogo-onsen-matsumaya.jpeg" alt="dogo-onsen-matsumaya" style="max-width: 120%;">
        </div>
        <div class="carousel-caption  text-white mb-1 mx-1 text-center" style="border-radius: 25px;  background-color: rgba(0, 0, 0, 0.29);">
          <h5 class= "h5-responsive">Dogo Onsen</h5>
          <p class="p-responsive">Onsen in Matsuyama, featured in Spirited Away</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <img class="d-block img-fluid" src="/images/rocky-steps.jpeg" alt="rocky-steps" style="max-width: 120%;">
        </div>
        <div class="carousel-caption  text-white mb-1 mx-1 text-center" style="border-radius: 25px; background-color: rgba(0, 0, 0, 0.29);">
          <h5 class="h5-responsive">Philadelphia Museum of Art</h5>
          <p class="p-responsive">Rocky's iconic running scene</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <img class="d-block img-fluid" src="/images/wadi-rum.jpeg" alt="Wadi-rum" style="max-width: 120%;">
        </div>
        <div class="carousel-caption  text-white mb-1 mx-1 text-center" style="border-radius: 25px; background-color: rgba(0, 0, 0, 0.29);">
          <h5 class="h5-responsive">Wadi Rum</h5>
          <p class="p-responsive mb-0">Featured in John Wick, Prometheus, Lawrence of Arabia and more</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <img class="d-block img-fluid" src="/images/lake-motosu.jpeg" alt="Lake Motosu" style="max-width: 120%;">
        </div>
        <div class="carousel-caption  text-white mb-1 mx-1 text-center" style="border-radius: 25px;  background-color: rgba(0, 0, 0, 0.29);">
          <h5 class="h5-responsive">Lake Motosu</h5>
          <p class="p-responsive mb-0">Famous camping site from the anime Yuru Camp</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-md-none">
  <img src="/images/Screenshot 2023-08-17 at 12.26.27.png" alt="Pinned Fiction" class="mx-auto d-block img-fluid" style="max-width: 40%;">
</div>
