{{#if userInSession}}
<div>
    <h2>Hello, {{userInSession.username}}!</h2>
    {{!-- <div>
        <a href="/users/user-edit">Edit your profile</a>
    </div> --}}
    <div>
        <a href="/places">Browse your favourite spots.</a>
        <a href="/places/create">Add to the PinnedFiction library!</a>
        <a href="/places/my-places/{{userInSession._id}}">Check out your own creations.</a> 
    </div>

    <form id="logout-form" action="/logout" method="POST">
        <button>Logout</button>
    </form>
</div>
{{else}}
<div>
    <a href="/signup">Sign up</a>
    <a href="/login">Log in</a>
</div>
{{/if}}