<div>
    <h2>Hello, {{username}}!</h2>
    <div>
        <a href="/users/user-edit">Edit your profile</a>
        <a href="/logout">Log out</a>
    </div>
    <div>
        <a href="/places/places">Browse your favourite spots.</a>
        <a href="/places/create-new-place">Add to the PinnedFiction library!</a>
        <a href="places/your-places">Check out your own creations.</a>
    </div>
</div>
